<style>
    .vo-meeting {
        position: absolute;
        bottom: 0;
        background: black;
        width: 100%;
        z-index: 100;
    }

    .vo-meeting__faces {
        text-align: center;
    }

    .vo-meeting .--hidden {
        display: none;
    }

    .vo-meeting__toggle {
        color: white;
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
    }
</style>
<template id="meeting-component">
    <div class="vo-meeting">
        <div :class="{'--hidden': !open}" style="text-align:center;">
            <div ref="faces" class="vo-meeting__faces">
                <vo-face v-for="stream in faces"
                          :name="findName(stream.peerId)" 
                          :stream="stream">
                </vo-face>
            </div>
            <vo-desktop ref="desktop" :stream="desktop" v-if="desktop" v-on:draw="handleDraw"></vo-desktop>
        </div>
        <button class="vo-meeting__toggle" v-on:click="open=!open">
            <i :class="['fa', open ? 'fa-chevron-down' : 'fa-chevron-up']"></i>
        </button>
    </div>
</template>
<script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script type="module">
    import { SkywayFSM } from '/js/helpers.js'

    Vue.component('vo-meeting', {
        template: '#meeting-component',
        props: {
            skywayKey: { type: String },
            userId: { type: String },
            roomId: { type: String },
            roomMode: { type: String },
            faceStream: { type: Object },
            desktopStream: { type: Object },
            sdsocket: { type: WebSocket },
            users: { type: Array }
        },
        data() {
            return {
                open: true,
                faces: [],
                desktop: null
            }
        },
        computed: {
        },
        methods: {
            findName(connectionId) {
                const user = this.users.find(u => u.connectionId === connectionId);
                return user ? user.name : null;
            },
            closeVideo(video) {
                video.pause();
                video.srcObject.getTracks().forEach(track => track.stop());
                video.srcObject = null;
            },
            handleDraw(data) {
                this.desktopSkyway.room.send(JSON.stringify(data))
            }
        },
        watch: {
            roomId(value, oldValue) {
                this.faceSkyway.reset(value, this.faceStream, this.roomMode);
                this.desktopSkyway.reset(value, this.desktopStream, this.roomMode);
            },
            faceStream(value) {
                if (this.faceSkyway) {
                    this.faceSkyway.reset(this.roomId, value, this.roomMode);
                }
            },
            desktopStream(value) {
                if (this.desktopSkyway) {
                    this.desktopSkyway.reset(this.roomId, value, this.roomMode);
                }
            }
        },
        async mounted() {
            const peer = await new Promise(resolve => {
                const peer = new Peer(this.userId, {
                    key: this.skywayKey,
                    debug: 3,
                });
                peer.on('open', () => setTimeout(() => resolve(peer), 100));
                peer.on('error', err => alert(err));
            });
            this.faceSkyway = new SkywayFSM({
                suffix: ':face',
                mode: this.roomMode,
                peer,
                roomId: this.roomId,
                localStream: this.faceStream,
                onData: ({ data, src }) => {
                },
                onStream: stream => {
                    this.faces.push(stream);
                },
                onPeerLeave: peerId => {
                    const index = this.faces.findIndex(stream => stream.peerId === peerId);
                    if (index != -1) {
                        this.faces.splice(index, 1);
                    }
                },
                onClose: () => {
                    this.faces.splice(0);
                },
            });
            this.desktopSkyway = new SkywayFSM({
                suffix: ':desktop',
                mode: this.roomMode,
                peer,
                roomId: this.roomId,
                localStream: this.desktopStream,
                onData: ({ data, src }) => {
                    try {
                        const payload = JSON.parse(data);
                        if (this.$refs.desktop) {
                            this.$refs.desktop.append(payload);
                        }
                        if (this.desktopStream && this.sdsocket) {
                            this.sdsocket.send(data);
                        }
                    }
                    catch { }
                },
                onStream: stream => {
                    this.desktop = stream;
                },
                onPeerLeave: peerId => {
                    if (this.desktop && this.desktop.peerId == peerId) {
                        this.desktop = null;
                    }
                },
                onClose: () => {
                    this.desktop = null;
                },
            });
        }
    })
</script>